body {
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 1170px;
  padding: 0 15px;
}

.site-header {
  padding-top: 50px;
  margin-bottom: 89px;
}

.header-box {
  align-items: center;
}

.logo-box {
  margin-right: 157px;
}

.site-nav {
  margin-right: 150px;
}

.nav-list {
  list-style-type: none;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
}

.site-sign-in {
  margin-right: 30px;
  border: none;
  background-color: #fff;
  color: #0b132a;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.site-sign-up {
  padding: 13px 45px;
  border-radius: 50px;
  border: 1px solid #f53855;
  background-color: #fff;
  color: #f53855;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

#hero {
  margin-bottom: 103px;
}

.hero-about {
  width: 555px;
  padding-top: 27px;
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 50px;
}

.hero-link {
  text-decoration: none;
  padding: 17.5px 77.5px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  background-color: #f53838;
  border-radius: 10px;
  box-shadow: 0 35px 20px -20px rgba(255, 99, 71, 0.55);
}

.hero-img {
  background-image: url('../image/hero-img.svg');
  height: 482px;
  background-repeat: no-repeat;
  background-position: right;
  margin-right: -67px;
  margin-top: -27px;
}

#analytic {
  margin-bottom: 95px;
}

.analyt-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 37.5px 0;
  box-shadow: 10px 45px 20px -15px rgba(164, 165, 169, 0.28);
}

.analytic-box {
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.analytic-img {
  margin-right: 36.5px;
}

.box-center {
  border-right: 2px solid #eeeff2;
  border-left: 2px solid #eeeff2;
}

.an-about-title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}

.an-about-text {
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

#provide {
  margin-bottom: 130px;
}

.provide-box {
  padding-left: 35px;
}

.provide-img {
  margin-right: 170px;
}

.provide-about {
  width: 427px;
  padding-top: 55px;
}

.provide-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  margin-bottom: 20px;
}

.provide-text {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 23px;
}

.provide-list {
  list-style-type: none;
}

.provide-item {
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  align-items: center;
}

.provide-item:not(:last-child) {
  margin-bottom: 15px;
}

.provide-item::before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url('../image/ptichka.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

#plan {
  padding-top: 80px;
  padding-bottom: 75px;
  background-color: #fbfbfb;
}

.plan-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20px;
}

.plan-text {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  margin-bottom: 60px;
}
.plan-list{
  list-style: none;
}

.plan-item{
  width: 330px;
  padding: 80px 60px 50px 75px;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}

.plan-item:last-child{
  border: 2px solid #F53838;
}

.plan-img{
  margin-bottom: 30px;    
}

.item-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  margin-bottom: 30px;
}

.item-list{
  list-style-type: none;
  margin-bottom: 130px;
}

.second{
  margin-bottom: 90px;
}

.third{
  margin-bottom: 50px;
}

.item-item{
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 10px;
}

.item-item::before{
  content: url('../image/galka.png');
  width: 13px;
  height: 9px;
  margin-right: 20px;
}

.plan-span{
  display: block;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
  margin-bottom: 20px;
}

.dollar{
  font-weight: 500;
}

.plan-link{
  display: inline-block;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #F53838;
  text-decoration: none;
  border: 2px solid #F53838;
  border-radius: 50px;
  padding: 13px 63px;
}

.plan-link:hover{
  background-color: #F53838;
  color: #fff;
}

.changed-link{
  background-color: #F53838;
  color: #fff;
}


#global {
  background-color: #fdfdfd;
  padding-top: 75px;
  padding-bottom: 50px;
}

.global-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20px;  
}

.global-text {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  margin-bottom: 156px;  
}

.global-img {
  margin-bottom: 35px;
}

.global-list {
  list-style-type: none;
  align-items: center;
}

.global-item {

}

#trust {

}

.trust-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20px;
}

.trust-text {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  margin-bottom: 60px;
}

.trust-list {
  list-style-type: none;
  margin-bottom: 60px;
}

.trust-item {
  width: 350px;
  padding: 20px;
  background: #FFFFFF;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.trust-item:first-child {
  border-color: #F53838;
}

.trust-item-box {
  margin-bottom: 18px;
}

.trust-item-img {
  margin-right: 18px;
}

.trust-item-about {
  margin-right: 60px;
}

.robert {
  margin-right: 80px;
}

.trust-about-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

.trust-about-text {
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.trust-star-count {
  margin-right: 5px;
}

.trust-item-text {
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}



.trust-icon {
  align-items: center;
}

.trust-btn-left {
  background: none;
  border: none;
  margin-right: 20px;
}

.trust-btn-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #F53838;
  border: 2px solid #F53838;
  box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
  border-radius: 50%;
}


